/* Slide 1*/

.city-info,
.info-slide-content {
    display: flex;
    flex-direction: row;
    width: 100%;
	top: 10%;
	font-size: 110%;
}
.frost-pane {
	color: #fff;
	font-family:"Zemestro Std";
	font-size: 32px;
	text-shadow:#000 2px 2px 4px;	
    min-height: 100%;
    background: rgba(18,75,238,0.7);
    z-index: 388686;
	flex:1;
}
.city-info .frost-pane:first-of-type {
	width: 55%;
    margin-right: 0.8%;
}

.city-info .frost-pane.left * {
	position: absolute;
	padding-top: 15px;
    line-height: 220%;
}

.frost-pane .labels {
    color: #d8c422;
    left: 9%;
}

.city-info .frost-pane .data {
    left: 35%;
    text-align: right;	
}

.city-info .frost-pane.right {
    display: flex;
    flex-direction: column;
    align-items: center;
	padding-top: 30px;
}

.city-info .frost-pane .icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 70%;
    height: 40%;
}
.city-info .frost-pane .temp {
    font-size: 76px;
    margin-top: 20%;
}

.forecast .frost-pane {
	padding-left: 9%;
    padding-top: 2%;
    padding: 2% 2% 1% 9%;		
}

.frost-pane .title {
	color: #d8c422;
    font-size: 40px;	
}
.frost-pane .content {
	font-size: 50px;
}

.info-slide-content.forecast .frost-pane {
	max-height: 500px;
}
.info-slide-content.forecast .content {
	height: 400px;
	max-height: 400px;
}

